/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Body */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Raleway", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le body prend au moins la hauteur de la vue */
}

/* Main Content */
main {
  flex: 1; /* Assure que le main prend l'espace restant */
  padding: 20px; /* Ajoute du padding pour l'espacement */
}

/* Centering the .lettre class */
.lettre {
  display: flex;
  flex-direction: column; /* Aligne les enfants verticalement */
  align-items: center; /* Centre les enfants horizontalement */
  text-align: center; /* Centre le texte */
  padding: 20px; /* Ajoute de l’espace autour de la section */
  justify-content: center; /* Centre le contenu verticalement */
  margin: 20px 0; /* Ajoute une marge verticale pour l'espacement */
}

.lettre img {
  width: 100%; /* Ajuste l’image à la largeur du conteneur */
  max-width: 500px; /* Limite la largeur maximale de l’image */
  height: auto; /* Maintient les proportions de l’image */
  border-radius: 10px; /* Ajoute un bord arrondi aux images */
  margin: 10px 0; /* Ajoute de l’espace entre les images et le texte */
}

/* Links */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

/* Buttons */
button {
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

/* Navbar */
.navbar {
  height: 90px;
  background-color: black;
  padding: 10px 20px; /* Réduit le padding pour ajuster la hauteur */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 45px; /* Ajuste la hauteur de l'image du logo */
  width: auto; /* Maintient le ratio de l'image */
  margin-right: 8px; /* Ajuste l'espacement entre l'image et le texte du logo */
}

.navbar .logo a {
  font-size: 22px; /* Ajuste la taille du texte du logo */
  font-weight: 700;
  color: white;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 24px; /* Ajuste l'espace entre les éléments du menu */
}

.menu-links {
  display: flex;
  gap: 24px;
  border-right: 1px solid white;
  padding-inline: 24px;
}

.menu-links a {
  font-weight: 500;
  color: white;
  padding: 8px 16px;
}

.menu-links a:hover {
  color: white;
  background-color: red;
}

.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}

@media (max-width: 53rem) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}

/* Title Contact */
.title-contact {
  text-align: center;
  margin-top: 20px;
}

/* Form */
form {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #4cae4c;
}

.back-home {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.back-home:hover {
  color: red;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 20px 0; /* Ajoute du padding autour du footer */
  margin-top: auto; /* Pousse le footer vers le bas de la page */
}

/* Contenu du footer */
.footer-content {
  display: flex;
  flex-wrap: wrap; /* Permet aux sections de passer à la ligne si nécessaire */
  justify-content: space-between; /* Espacement entre les sections */
  align-items: flex-start; /* Aligner les sections en haut */
  padding: 0 20px; /* Ajoute du padding horizontal */
}

/* Sections du footer */
.contact-info,
.address,
.social-media {
  margin: 0 20px; /* Espacement entre les sections */
  flex: 1; /* Permet aux sections de s'ajuster en largeur */
}

.contact-info h1,
.address h2,
.social-media h3 {
  font-size: 1.5em; /* Taille des titres */
  margin-bottom: 10px; /* Espacement sous les titres */
}

.contact-info p,
.address p {
  font-size: 15px; /* Taille du texte */
  margin: 5px 0; /* Espacement autour des paragraphes */
}

.contact-info a,
.address a {
  color: white;
  text-decoration: none;
}

.contact-info a:hover,
.address a:hover {
  color: red;
}

/* Réseaux sociaux */
.Title-Reseau {
  margin-top: 20px;
}
.social-media h3 {
  margin-bottom: 10px; /* Espacement sous le titre des réseaux sociaux */
}

.social-media a {
  color: white;
  font-size: 15px; /* Taille des icônes */
  text-decoration: none;
  margin-right: 15px; /* Espacement entre les icônes */
}

.social-media a:hover {
  color: red;
}

/* Lien "Nous contacter" */
.contact-link {
  color: white;
  font-size: 0.9em; /* Réduit la taille du texte */
  text-decoration: none;
  margin-top: 10px;
}

.contact-link:hover {
  color: red;
}
/* Titre des entraîneurs */
.coachs-section h1 {
  text-align: center; /* Centre le titre */
  margin-bottom: 20px; /* Espace sous le titre */
  font-size: 2em; /* Taille du titre */
  color: white; /* Couleur du texte */
  font-family: "Raleway", sans-serif; /* Utilise la police Raleway */
}

/* Conteneur des cartes */
.coachs {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
  gap: 20px; /* Espacement entre les cartes */
  padding: 20px; /* Espace autour du conteneur */
}

/* Style des cartes */
.card {
  border-radius: 25px; /* Bordure arrondie */
  border: 2px solid #fff; /* Contour blanc */
  background-color: #d3d3d3; /* Couleur de fond gris clair */
  padding: 20px; /* Espace à l'intérieur des cartes */
  text-align: center; /* Centrer le texte à l'intérieur de la carte */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre le contenu horizontalement */
  justify-content: center; /* Centre le contenu verticalement */
  height: 400px; /* Hauteur fixe pour des cartes plus longues */
  box-sizing: border-box; /* Inclut le padding et la bordure dans la hauteur totale */
}

/* Style des images dans les cartes */
.card img {
  width: 80%; /* Ajuste l'image à la largeur de la carte */
  height: auto; /* Hauteur automatique pour garder les proportions */
  max-height: 60%; /* Limite la hauteur de l'image */
  border-radius: 20px; /* Bordure arrondie pour les images */
  margin-bottom: 10px; /* Espace entre l'image et le texte */
}

.summer-stage {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne suivante si l'espace est insuffisant */
  gap: 20px; /* Ajoute de l'espacement entre les éléments */
  padding: 20px; /* Ajoute de l’espace autour de la section */
  justify-content: center; /* Centre les éléments horizontalement */
}

.summer-stage .stage-item {
  display: flex;
  flex-direction: column; /* Aligne le texte et l'image verticalement */
  align-items: center; /* Centre le texte et l'image horizontalement */
  text-align: center; /* Centre le texte */
}

.summer-stage img {
  width: 100%; /* Ajuste l’image à la largeur du conteneur */
  max-width: 500px; /* Limite la largeur maximale de l’image */
  height: auto; /* Maintient les proportions de l’image */
  border-radius: 10px; /* Ajoute un bord arrondi aux images */
  margin: 10px 0; /* Ajoute de l’espace entre les images et le texte */
}

.partenaires-carroussel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.horaires {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne suivante si l'espace est insuffisant */
  gap: 20px; /* Ajoute de l'espacement entre les éléments */
  padding: 20px; /* Ajoute de l’espace autour de la section */
  justify-content: center; /* Centre les éléments horizontalement */
}

.horaires img {
  width: 100%; /* Ajuste l’image à la largeur du conteneur */
  max-width: 500px; /* Limite la largeur maximale de l’image */
  height: auto; /* Maintient les proportions de l’image */
  border-radius: 10px; /* Ajoute un bord arrondi aux images */
  margin: 10px 0; /* Ajoute de l’espace entre les images et le texte */
}
